:root {
  --search-size: 20px;
}

.header-container {
  background-color: #1fb8ea;
  padding: 0 3rem;

  .site-name {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 0;
  }

  .search-container {
    background: white;
    border-radius: 25px;
    padding: 0 1rem;

    .search-bar {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      width: calc(100% - var(--search-size));
      background: transparent;
      border: 0;
      outline: 0;
      padding: 0.25rem 0;
    }

    .search-icon {
      width: var(--search-size);
      opacity: 0.5;
    }
  }
}

.mobile {
  .header-container {
    .search-container {
      margin-bottom: 1rem;
    }
  }
}
