.driver-container {
  .card {
    cursor: pointer;
    margin: 1rem 0;
    padding: 1rem;
    border: 0;

    .card-img-top {
      width: 100%;
      height: 15vw;
      object-fit: cover;
      object-position: top;
    }

    .card-body {
      transition: margin-top 0.3s;
      padding-left: 0;
      padding-bottom: 0;

      .driver-type {
        position: absolute;
        top: -20px;
        left: 10px;
      }

      .driver-phone,
      .driver-email {
        opacity: 0;
        max-height: 0;
        transition-delay: 0.5s;
        transition: opacity 0s, max-height 0s;
      }
    }

    &:hover {
      .card-body {
        margin-top: -50px;

        .show-on-hover {
          opacity: 1;
          height: 25px;
          max-height: 25px;
          transition: opacity 0.3s, max-height 0.3s;
        }
      }
    }
  }
}

.mobile {
  .driver-container {
    .card {
      .card-img-top {
        height: 50vh;
      }

      &:hover {
        .card-body {
          margin-top: 0px;
        }
      }
    }
  }
}
